<style type="text/css">
    .chessboard {
        width: 560px;
        height: 560px;
        margin: 10px;
    }

    .black {
        float: left;
        width: 70px;
        height: 70px;
        background-color: rgb(118, 150, 86);
        font-size: 45px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .white {
        float: left;
        width: 70px;
        height: 70px;
        background-color: rgb(238, 238, 210) !important;
        font-size: 45px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .possibleMoveEmpty {

        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 0.5;
        background-color: yellow;
    }
    .possibleMoveCapture {
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 0.3;
        background-color: red;
    }

    .col-xs-4 {
        border-left: 2px solid #27ae60;
    }
</style>
<div class="col-xs-6 p-l-3 p-t-2">
    <div class="chessboard">
        <div *ngFor="let item of chessBoard.board;let i=index" [square-attr]="i" (click)="clickAtIndex(i)" name="dfdfs">
            <div [ngClass]="getPossibleMovesClasses(i)">
                {{chessBoard.getPieceAt(i)}}

            </div>
        </div>
    </div>
</div>
<div class="col-xs-4 p-l-3 p-t-2 hidden-md-down">

    <h2 class="text-info">Board information:</h2>
    <p>Difficulty:</p>
    <div class="btn-group" btnRadioGroup [(ngModel)]="difficulty">
        <label class="btn btn-info" btnRadio="Easy">Easy</label>
        <label class="btn btn-info" btnRadio="Medium">Medium</label>
        <label class="btn btn-info" btnRadio="Hard">Hard</label>
      </div>
        <div class="form-group">
            <label for="exampleTextarea">FEN notation</label>
            <textarea class="form-control" id="fenTextarea" rows="3" [value]="fenString" (input)="fenString=$event.target.value"></textarea>
        </div>
        <button class="btn btn-outline-primary btn-sm" type="button" (click)="loadFen()">Load FEN</button>

        <div class="form-group">
            <label>Moves:</label>
            <textarea class="form-control" rows="5" [value]="historyMovesStr"></textarea>
        </div>
        <button class="btn btn-outline-danger m-b-1" (click)="undoMove()">Undo Move</button>

        
    
    
    <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="debugModeCheck" [checked]="enableDebugMode" (change)="enableDebugMode = !enableDebugMode">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Enable DEBUG mode</span>
    </label>
    <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="AICheck" [checked]="enableAI" (change)="enableAI = !enableAI">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Enable AI</span>
    </label>
    <p class="text text-info p-t-1">{{thinkLabel}}</p>
    <!-- <button type="button" class="btn btn-primary" (click)="openModal()">Create template modal</button> -->
</div>

