<style type="text/css">
    .chessboard {
        width: 560px;
        height: 560px;
        margin: 10px;
    }
    .black {
        float: left;
        width: 70px;
        height: 70px;
        background-color:rgb(118,150,86);
          font-size:45px;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }
    .white {
        float: left;
        width: 70px;
        height: 70px;
        background-color:rgb(238, 238, 210) !important;
        font-size:45px;
        text-align:center;
        display: table-cell;
        vertical-align:middle;       
    }
</style>
<div class="col-xs-9 p-a-1">
    <div class="chessboard">
        <div *ngFor="let item of chessBoard.board;let i=index"
            [square-attr]="i" (click)="clickAtIndex(i)">
            {{chessBoard.getPieceAt(i)}}
        </div>
    </div>
</div>
<div class="col-xs-3 bg-success">
    <p>sdads</p>
</div>
